# Define environment
dist: xenial # Ubuntu 16.04
language: bash

# Export variables
env:
  - tf_version=0.13.2 tf_init_cli_options="-input=false" tf_validation_cli_options="" tf_plan_cli_options="-lock=false -input=false" tf_apply_cli_options="-auto-approve -input=false"

# Only build pushes to master branch
branches:
  only:
    - master


# Install dependencies
before_install:
  - mkdir test && cd test/
  - wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
  - sudo unzip terraform_"$tf_version"_linux_amd64.zip 
  - sudo mv terraform /usr/local/bin/
  - rm terraform_"$tf_version"_linux_amd64.zip
  - ssh-keygen -t rsa -f ~/.ssh/server -N 'server'
  - sudo apt update
  - sudo apt install software-properties-common
  - sudo apt-add-repository --yes --update ppa:ansible/ansible
  - sudo apt install ansible

# Terraform Plan and Apply
# Plan only on pull requests, Apply on merged code
jobs:
  include:
    - stage: terraform plan
      # Only run terraform validate and plan state if within a pull request
      if: type IN (pull_request)
      script:
        - echo "Executing Terraform Plan on pull request code"
        - terraform init $tf_init_cli_options
        - terraform validate $tf_validation_cli_options
        - terraform plan $tf_plan_cli_options
    - stage: terraform apply
      # Only run terraform apply stage if outside of a pull request
      if: type IN (push) and branch = mas
      script:
        - export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
        - export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
        - export AWS_DEFAULT_REGION="us-east-2"
        - cd /$TRAVIS_BUILD_DIR/terraform
        - echo "Executing Terraform Apply on merged code"
        - terraform init $tf_init_cli_options
        - terraform destroy $tf_apply_cli_options
        - terraform apply $tf_apply_cli_options
    - stage: ansible playbook
      script:
        - cd /$TRAVIS_BUILD_DIR/ansible
        - ansible-playbook main.yaml --extra-vars "aws_access_key=$AWS_ACCESS_KEY_ID aws_secret_key=$AWS_SECRET_ACCESS_KEY"
        
